/**********************************************************/
.chat-dialog {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
}

.chat-dialog .header{
    background-color: rgb(226, 226, 226);
    height: 40px;
    font-size: 15pt;
    line-height: 30px;
    padding: 5px;
    border-bottom: 1px solid #000;
}

.chat-dialog .header .quit {
    float: right;
    cursor: pointer;
}

.chat-dialog .message-display-area {
    padding: 0 10px;
    height: -webkit-calc(100% - 90px);
    overflow: auto;
}

.chat-dialog .message-display-area .one-message {
    background-color: rgb(226, 226, 226);
    margin: 10px 0;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 5px;
    padding: 5px;
}

.chat-dialog .message-display-area .one-message .text-message pre {
    padding: 0;
    margin: 0;
    font-size: inherit;
    line-height: inherit;
    color: black;
    background-color: transparent;
    border: 0;
}

.chat-dialog .message-display-area .one-message .picture-message {
    line-height: 0;
}

.chat-dialog .message-display-area .one-message .picture-message img{
    width: 100px;
    margin-top: 5px;
}

.chat-dialog .input-area {
    width: 100%;
    background-color: rgb(226, 226, 226);
}

.chat-dialog .input-area .text-input-area {
    height: 50px;
    padding: 5px;
    border: 1px solid #000;
    border-bottom-color: gray;
    border-left-width: 0;
    border-right-width: 0;
}

.chat-dialog .input-area .text-input-area .add-picture {
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    background-image: url(../images/add.png);
    background-position: center;
    border: 2px solid rgb(151, 151, 151);
    border-radius: 20px;
    float: left;
    cursor: pointer;
}

.chat-dialog .input-area .text-input-area textarea {
    width: -webkit-calc(100% - 100px);
    height: 40px;
    outline: none;
    resize: none;
    float: left;
    margin: 0 10px;
    font-size: 17pt;
}

.chat-dialog .input-area .text-input-area .send-message {
    width: 40px;
    height: 40px;
    line-height: 40px;
    float: left;
    cursor: pointer;
}

.chat-dialog .bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.chat-dialog #captured-image-placeholder {
    width: 100px;
    padding: 5px;
}